html,body{
    margin: 0;
    height: 100%;
}
.bg{
    background-image: url("../img/Photographie-bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.hauteur100{
    height: 100%;
}
.parallax2 {
    background-image: url("../img/lens.jpg");
    min-height: 675px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    background-image: url("../img/contact.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax3 {
    background-image: url("../img/banner.jpg");
    min-height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.texteBlanche{
    color: white;
}
.rouge{
    color: red;
}
.gris{
    background-color: gray;
}
hr{
     max-width: 25%;
     border-width: 1px;
     border-color: rgb(200,16,46);
}
.blanche{
    color: white;
}
.p{
    font-size: 22px;
}
.texteJaune{
    color: yellow;
    font-size: 42px;
}
.font{
    font-family: 'Gugi', cursive;
}
.hamberger{
    color: white;
}
.navbar {
    background-color: #ff0000;
}
.navbar .navbar-brand {
    color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ecdbff;
}
.navbar .navbar-text {
    color: #ffffff;
}
.navbar .navbar-text a {
    color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #ecdbff;
}
.navbar .navbar-nav .nav-link {
    color: #ffffff;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff;
    background-color: #4471ad;
}
.navbar .navbar-toggle {
    border-color: #4471ad;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #4471ad;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #ffffff;
}
.navbar .navbar-link {
    color: #ffffff;
}
.navbar .navbar-link:hover {
    color: #ecdbff;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #4471ad;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #4471ad;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #4471ad;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #ffffff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #ecdbff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #ecdbff;
        background-color: #4471ad;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #4471ad;
}
@media only screen and (max-width: 575px){
    .texteAccueil{
        font-size: 24px;
    }
    .texteAbout{
        font-size: 32px;
    }
    .texte3{
        font-size: 15px;
    }
    .texteContact{
        font-size: 24px;
    }
    .bg{
        background-image: url("../img/photographer.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}
@media screen and (min-width: 576px) and (max-width: 1199px) {
    .texteAccueil1{
        font-size: 42px;
    }
    .texteAbout1{
        font-size: 52px;
    }
    .texte4{
        font-size: 26px;
    }
    .bg{
        background-image: url("../img/lens1.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
    }
}