body
{
    width: 900px;
    margin: auto;
    background-color: goldenrod;
}

h1
{
    font-size: 36px;
}

h2
{
    font-size: 24px;
}

h1
{
    color: maroon;
    text-align: center;
}
h2
{
    color: maroon;
    text-align: center;
}