.navbar {
    background-color: #000000;
}
.navbar .navbar-brand {
    color: #00ff00;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #00ff00;
}
.navbar .navbar-text {
    color: #00ff00;
}
.navbar .navbar-text a {
    color: #00ff00;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
    color: #00ff00;
}
.navbar .navbar-nav .nav-link {
    color: #00ff00;
    border-radius: .25rem;
    margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #00ff00;
}
.navbar .navbar-nav .dropdown-menu {
    background-color: #000000;
    border-color: #ff0b00;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #00ff00;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #00ff00;
    background-color: #ff0b00;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #ff0b00;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #00ff00;
    background-color: #ff0b00;
}
.navbar .navbar-toggle {
    border-color: #ff0b00;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: #ff0b00;
}
.navbar .navbar-toggle .navbar-toggler-icon {
    color: #00ff00;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
    border-color: #00ff00;
}
.navbar .navbar-link {
    color: #00ff00;
}
.navbar .navbar-link:hover {
    color: #00ff00;
}

@media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff00;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff00;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff00;
        background-color: #ff0b00;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff00;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff00;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff00;
        background-color: #ff0b00;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff00;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff00;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff00;
        background-color: #ff0b00;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
        color: #00ff00;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
        color: #00ff00;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
        color: #00ff00;
        background-color: #ff0b00;
    }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #00ff00;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #00ff00;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #00ff00;
    background-color: #ff0b00;
}

.fab{
    color: #0069d9;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
html,body{
    margin: 0;
    height: 100%;
}
.bg{
    background-image: url("../img/Relaxation.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.hauteur100{
    height: 100%;
}
.bandeNoir{
    background-color: black;
    height: 200px;
}
.texteDore{
    color: #e7aa07
;
