html,body{
    margin: 0;
    height: 100%;
}
.hauteur100{
    height: 100%;
}
.texteBlanche{
    color: white;
}
.texteRouge{
    color: red;
    font-size: 24px;
}
.parallax {
    background-image: url("../img/Photo-paralax-informatique-coding.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    background-image: url("../img/contact.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tailleTitre{
    font-size: 48px;
}
.paragraphe{
    font-size: 24px;
}
.rouge{
    background-color: red;
}
.gris{
    background-color: gray;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.font{
    font-family: 'Gugi', cursive;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 800px;
    width: 100%;
    background-color : black;
    opacity: 0.5;
}
header {
    position: relative;
    background-color : black;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
header video {
    position: absolute;
    top: 0%;
    left: 0%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform : translateX (-50%) translateY (-50%);
    -moz-transform : translateX (-50%) translateY (-50%);
    -webkit-transform : translateX (-50%) translateY (-50%);
    transform: translateX (-50%) translateY (-50%);
}