.parallax {
    background-image: url("../img/Photo-paralax-1.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
     background-image: url("../img/Photo-paralax-informatique-coding.jpg");
     height: 600px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
}
.parallax2 {
    background-image: url("../img/Photo-paralax-informatique-mainframe-03.jpg");
    height: 675px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.carreJaune {
    background-color: rgba(224, 217, 29, .5);
    padding-left: 18px;
    padding-bottom: 16px;
    padding-top: 14px;
}
html,body{
    margin:0;
    height: 100%;
}
.hauteur75{
    height: 75%;
}
.hauteur25{
    height: 25%;
}
.Vert{
    background-color: #34ce57;
}
.Beige{
    background-color: burlywood;
}
.Bleu{
    background-color: #0069d9;
}
.BlanchePale{
    background-color: rgba(255, 255, 255, .5);
}
.Blanche{
    color: white;
}
.h1{
    font-size: 48px;
}
.p{
    font-size: 22px;
}
.margin{
    margin-top: 18%;
}
.marginB{
    margin-bottom: 48px;
}
.paddingT{
    padding-top: 48px;
}