html,body{
    margin: 0;
    height: 100%;
}
.bg{
    background-image: url("../img/mic.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.hauteur100{
    height: 100%;
}
.texteBlanche{
    color: white;
}
.parallax {
    background-image: url("../img/Photo-paralax-informatique-coding.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 {
    background-image: url("../img/contact.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tailleTitre{
    font-size: 44px;
}
.paragraphe{
    font-size: 24px;
}
.container-fluid{
    padding: 0;
    margin: 0;
}
.font{
    font-family: 'Gugi', cursive;
}
.ligneRouge{
    padding-bottom: 25px;
    padding-top: 0px;
    max-width: 150px;
    border-width: 6px;
    border-color: red;
}
.sousTitre{
    font-size: 24px;
    color: black;
}
